#space{
    padding-left: 30px;
    color: #ff1313;
}
#spa{
    margin-left: 20px;
    color: #ff1313;
}
.center{
  
    padding-top: 18%;
}
#sp{
    margin-left: 5px;
    text-align: center;
}
@media only screen and (max-width: 399px){
    #sp{
        width: 70%; 
        padding-bottom: 140px; 
        padding-right: 20px;
        border-radius: 35px; 
        margin-left: 5px;
        text-align: center;
    }
}
@media only screen and (min-width: 1649px){
    #sp{
        width: 18%; 
        padding-bottom: 140px; 
        padding-right: 20px;
        border-radius: 35px; 
        margin-left: 5px;
        text-align: center;
    }
}
@media only screen and (min-width: 1487px){
    #sp{
        width: 18%; 
        padding-bottom: 140px; 
        padding-right: 20px;
        border-radius: 35px; 
        margin-left: 5px;
        text-align: center;
    }
}